#navText {
  color: white;
}

#inputArea {
  display: flex;

  margin-left: 0px;
  border-right: solid gray 1px;
  width: 400px;
  height: 800px;
}

#inputBar {
  width: 450px;
  height: 200px;
}

#enter {
  height: 30px;
}

#listContainer {
  width: 500px;
}

.float-right {
  float: right;
  margin-right: 200px;
}

#city {
  font-size: 2rem;
}
