.navbar {
  display: flex;
  justify-content: center;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

#navText {
  color: white;
}

#inputArea {
  display: column;
  float: left;
  margin-left: 0px;
  border-right: solid gray 1px;
  height: 600px;
}

#inputBar {
  margin-top: 10px;
  width: 100%;
  margin-left: 0px;
}

#enter {
  height: 25px;
}

.float-right {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

#city {
  font-size: 2rem;
}
.cities {
  border: solid gray 1px;
  width: 100%;
  margin-bottom: 3px;
}

#fiveday {
  flex-direction: row;
  display: inline;
  display: flex;
  justify-content: space-evenly;
}

#fiveforecast {
  display: inline;
  flex-direction: row;
}

ul#fiveforecast li {
  display: inline;
  flex-direction: row;
}

ul#fiveforecast {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 250px;
  margin-top: 20px;
}

.card-group {
  width: 180px;
  height: 200px;
  margin-right: 20px;
  flex-direction: column;
}

#todayWeather {
  height: 290px;
  border-bottom: solid gray 1px;
}

.pageContainer {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.card {
  background-color: lightblue;
}

#todayInfo {
  margin-left: 100px;
  font-size: 1.1rem;
}

.green {
  background-color: lightgreen;
  width: 130px;
}

.yellow {
  background-color: lightyellow;
  width: 130px;
}

.orange {
  background-color: orange;
  width: 130px;
}

.red {
  background-color: red;
  width: 130px;
}
