.navbar {
  display: flex;
  justify-content: center;
}

#navText {
  color: white;
}

#inputArea {
  display: column;
  float: left;
  margin-left: 0px;
  border-right: solid gray 1px;
  width: 400px;
  height: 600px;
}

#inputBar {
  margin-top: 10px;
  width: 350px;
  height: 50px;
  margin-left: 0px;
}

#enter {
  height: 25px;
}

#listContainer {
  width: 400px;
}

.float-right {
  float: right;
  margin-right: 30px;
  margin-top: 40px;
}

#city {
  font-size: 2rem;
}
.cities {
  border: solid gray 1px;
  width: 380px;
  margin-bottom: 3px;
}

#fiveday {
  display: flex;
  align-items: flex-end;
}

#fiveforecast {
  margin-left: 40px;
  margin-bottom: 200px;
  display: inline;
}

ul#fiveforecast li {
  display: inline;
}

#rightSide {
  flex-direction: column;
}
